<% flash.each do |level, message| %>
  <div class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
    <div class="p-4">
      <div class="flex items-start">
        <div class="flex-shrink-0">
          <%= inline_svg_tag "flash/#{level}.svg", class: 'h-6 w-6', fallback: 'flash/notice.svg' %>
        </div>
        <div class="ml-3 w-0 flex-1 pt-0.5">
          <p class="text-sm font-medium text-gray-900"><%= message %></p>
        </div>
        <div class="ml-4 flex-shrink-0 flex">
          <button type="button" class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="sr-only">Close</span>
            <%= inline_svg_tag "flash/close.svg", class: 'h-5 w-5' %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
