<header>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <h2 class="text-3xl font-bold leading-tight text-gray-900">Boards</h2>
      <%= link_to 'New board', new_board_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>
</header>

<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div id="boards">
    <%= render @boards %>
  </div>
</div>
