<section class="flex flex-col flex-1 hidden sm:flex" data-tabs-target="panel">
  <div class="px-6 pt-6 pb-4 bg-gray-50 hidden sm:block">
    <h3 class="text-lg font-medium text-gray-900"><%= column.name %></h3>
  </div>
</section>
